.user-infor {
  text-align: left;
  font-style: italic;
  margin: 2rem 5rem 5rem;
}

.content-infor {
  padding-left: 0px;
  font-size: 15px;
}

.user-infor > p {
  font-size: 30px;
  color: rgb(56, 56, 56);
}
.content-infor li {
  color: #bdbdbd;
  list-style: none;
  padding: 0.25rem 0;
}
