.header {
  height: 5rem;
  /* box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
}

.logo {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-style: italic;
  color: #ff9b51;
  margin: 0;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
  color: #bdbdbd;
}

.header li {
  margin: 0 0.5rem;
}
.icon {
  font-size: 16px;
}
.navItem {
  margin: 0 0.5rem;
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  color: rgb(56, 56, 56);
}
.brand {
  font-size: 28px;
  color: rgb(56, 56, 56);
}
.header .userInfo {
  display: flex;
  margin: 0;
  align-items: baseline;
}
.userInfo .userName {
  margin: 0 0.5rem;
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  color: rgb(56, 56, 56);
}
.userInfo button {
  margin-left: 0.75rem;
  background-color: #fff;
  border: none;
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  color: rgb(56, 56, 56);
}
.userInfo button:hover {
  cursor: pointer;
  color: #747bff;
}
.userInfo .iconDown {
  font-size: 16px;
  color: rgb(56, 56, 56);
}
.userInfo .iconDown:hover {
  cursor: pointer;
  color: #747bff;
}
